{{#section 'css'}}
<style>
  .rating {
    display: flex;
    justify-content: space-between;
  }

  .view_talk {

    display: flex;
    justify-content: flex-start;

  }

  figure {
    height: 171px;
  }
</style>
{{/section}}
{{#section 'js'}}

<!-- owl.carousel.min js -->
<script src="/js/owl.carousel.min.js"></script>

<!-- Revolution Slider -->
<script type="text/javascript">
  jQuery(document).ready(function () {
    jQuery('.tp-banner').revolution(
      {
        delay: 9000,
        startwidth: 1170,
        startheight: 530,
        hideThumbs: 10,

        navigationType: "bullet",
        navigationStyle: "preview1",

        hideArrowsOnMobile: "on",

        touchenabled: "on",
        onHoverStop: "on",
        spinner: "spinner4"
      });
  });
</script>

{{/section}}



<!-- Home Slider Start -->
<div class="slider">
  <div class="tp-banner-container clearfix">
    <div class="tp-banner">
      <ul>
        <!-- SLIDE 1 -->
        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700">
          <!-- MAIN IMAGE -->
          <img src="/images/slider/slider-img1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center"
            data-bgrepeat="no-repeat">
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption very_big_white skewfromrightshort fadeout" data-x="center" data-y="100"
            data-speed="500" data-start="1200" data-easing="Circ.easeInOut"
            style=" font-size:70px; font-weight:800; color:#fe0100;">HỌC IELTS
            <span style=" color:rgb(214, 230, 2);">ONLINE UNLIMITED</span>
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption tp-caption medium_text skewfromrightshort fadeout" data-x="center" data-y="165"
            data-hoffset="0" data-voffset="-73" data-speed="500" data-start="1200" data-easing="Power4.easeOut"
            style=" font-size:20px; font-weight:500; color:#337ab7;">
            Các khóa học cho mọi trình độ  </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption customin tp-resizeme rs-parallaxlevel-0" data-x="center" data-y="210" data-hoffset="0"
            data-voffset="98"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="500" data-start="1500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
            data-elementdelay="0.1" data-endelementdelay="0.1" data-linktoslide="next"
            style="border: 2px solid #fed700;border-radius: 50px; font-size:14px; background-color:#fed700; color:#333; z-index: 12; max-width: auto; max-height: auto; white-space: nowrap; letter-spacing:1px;">
            <a href='javascript:;' class='largebtn slide1'>Click Ngay</a>
          </div>
        </li>

        <!-- SLIDE 2 -->
        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700">
          <!-- MAIN IMAGE -->
          <img src="/images/slider/slider-img2.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center"
            data-bgrepeat="no-repeat">
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption white_heavy_60 customin ltl tp-resizeme" data-x="310" data-y="140"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="1200" data-start="700" data-easing="Power4.easeOut" data-splitin="chars" data-splitout="none"
            data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn"
            style=" font-size:70px; font-weight:800; color:rgb(129, 9, 9);">GIÁ ƯU ĐÃI </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption black_thin_blackbg_30 customin ltl tp-resizeme" data-x="310" data-y="220"
            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-speed="1500" data-start="1000" data-easing="Power4.easeInOut" data-splitin="none" data-splitout="none"
            data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn"
            style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; color:#34bcec; font-size:20px; font-weight:500;">
            Khóa học hè ngắn hạn </div>

          <!-- LAYER NR. 4 -->
          <div class="tp-caption lfb ltb start tp-resizeme" data-x="310" data-y="270"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="1500" data-start="1600" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
            data-elementdelay="0.01" data-endelementdelay="0.1" data-linktoslide="next"
            style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
            <a href='javascript:;' class='largebtn solid'>Xin đừng click</a>
          </div>
        </li>

        <!-- SLIDE 3 -->
        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700">
          <!-- MAIN IMAGE -->
          <img src="/images/slider/slider-img3.jpg" alt="slidebg3" data-bgfit="cover" data-bgposition="center center"
            data-bgrepeat="no-repeat">
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption big_100_white lft start fadeout" data-x="310" data-y="120" data-speed="500"
            data-start="1200" data-easing="Circ.easeInOut" style=" font-size:70px; font-weight:800; color:#fff;">WE
          </div>
          <div class="tp-caption big_100_white lft fadeout" data-x="310" data-y="180" data-speed="500" data-start="1200"
            data-easing="Circ.easeInOut" style=" font-size:50px; font-weight:800; color:#fed700;">Lít đờ</div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption tp-caption medium_text lfb fadeout" data-x="310" data-y="260" data-speed="500"
            data-start="1200" data-easing="Power4.easeOut"
            style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; color:#34bcec; font-size:20px; font-weight:500;">
            Tiếng Anh sẽ thay đổi bạn?</div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption fade fadeout tp-resizeme" data-x="310" data-y="320" data-hoffset="-100"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="1500" data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
            data-elementdelay="0.01" data-endelementdelay="0.1" data-linktoslide="next"
            style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
            <a href='javascript:;' class='largebtn solid'>Đăng ký ngay!</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--special-products-->

<div class="container">
  <div class="special-products">
    <div class="page-header">
      <h2>TÀI LIỆU NỔI BẬT</h2>
    </div>
    <div class="special-products-pro">
      <div class="slider-items-products">
        <div id="special-products-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col4">

            {{#each this.documents}}
            <div class="product-item">
              <div class="item-inner">
                <div class="product-thumbnail">
                  <div class="icon-sale-label sale-left">Sale</div>
                  <div class="icon-new-label new-right">New</div>
                  <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="documents/{{_id}}">
                      <figure> <img class="first-img" src="https://mielts.s3.ap-southeast-1.amazonaws.com/{{image}}" alt="html template"> <img
                          class="hover-img" src="https://mielts.s3.ap-southeast-1.amazonaws.com/{{image}}" alt="html template"></figure>
                    </a>
                    <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Tìm hiểu
                        thêm</span> </button>
                  </div>

                  <div class="pr-info-area">
                    <div class="pr-button">
                       <div class="mt-button add_to_wishlist wish_{{_id}}" data-id="{{_id}}"> <a
                                    href="javascript:;"> <i class="fa fa-heart"></i>
                                  </a> </div>


                    </div>
                  </div>

                </div>
                <div class="item-info">
                  <div class="info-inner">
                    <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">{{name}}</a> </div>
                    <div class="item-content">
                      <div class="rating">
                        <div class="view_talk">
                          <span class="fa fa-eye" style="padding-top: 4px;"> {{views}} &nbsp;&nbsp;</span>
                          <span class="comment-count"> <i class="fa fa-comment"></i>&nbsp; {{views}} </span>
                        </div>
                        <i style="margin-bottom: 5px;">{{created_at}}</i>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}

          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="special-products">
    <div class="page-header">
      <h2>TÀI LIỆU MỚI</h2>
    </div>
    <div class="special-products-pro">
      <div class="slider-items-products">
        <div id="special-products-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col4">

            {{#each this.newDocuments}}
            <div class="product-item">
              <div class="item-inner">
                <div class="product-thumbnail">
                  <div class="icon-sale-label sale-left">Sale</div>
                  <div class="icon-new-label new-right">New</div>
                  <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="documents/{{_id}}">
                      <figure> <img class="first-img" src="https://mielts.s3.ap-southeast-1.amazonaws.com/{{image}}" alt="html template"> <img
                          class="hover-img" src="https://mielts.s3.ap-southeast-1.amazonaws.com/{{image}}" alt="html template"></figure>
                    </a>
                    <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Tìm hiểu
                        thêm</span> </button>
                  </div>

                  <div class="pr-info-area">
                    <div class="pr-button">
                       <div class="mt-button add_to_wishlist wish_{{_id}}" data-id="{{_id}}"> <a
                                    href="javascript:;"> <i class="fa fa-heart"></i>
                                  </a> </div>


                    </div>
                  </div>

                </div>
                <div class="item-info">
                  <div class="info-inner">
                    <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">{{name}}</a> </div>
                    <div class="item-content">
                      <div class="rating">
                        <div class="view_talk">
                          <span class="fa fa-eye" style="padding-top: 4px;"> {{views}} &nbsp;&nbsp;</span>
                          <span class="comment-count"> <i class="fa fa-comment"></i>&nbsp; {{views}} </span>
                        </div>
                        <i style="margin-bottom: 5px;">{{created_at}}</i>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}

          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="special-products">
    <div class="page-header">
      <h2>TÀI LIỆU MỚI</h2>
    </div>
    <div class="special-products-pro">
      <div class="slider-items-products">
        <div id="special-products-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col4">

            {{#each this.documents}}
            <div class="product-item">
              <div class="item-inner">
                <div class="product-thumbnail">
                  <div class="icon-sale-label sale-left">Sale</div>
                  <div class="icon-new-label new-right">New</div>
                  <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="documents/{{_id}}">
                      <figure> <img class="first-img" src="https://mielts.s3.ap-southeast-1.amazonaws.com/{{image}}" alt="html template"> <img
                          class="hover-img" src="https://mielts.s3.ap-southeast-1.amazonaws.com/{{image}}" alt="html template"></figure>
                    </a>
                    <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Tìm hiểu
                        thêm</span> </button>
                  </div>

                  <div class="pr-info-area">
                    <div class="pr-button">
                       <div class="mt-button add_to_wishlist wish_{{_id}}" data-id="{{_id}}"> <a
                                    href="javascript:;"> <i class="fa fa-heart"></i>
                                  </a> </div>


                    </div>
                  </div>

                </div>
                <div class="item-info">
                  <div class="info-inner">
                    <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">{{name}}</a> </div>
                    <div class="item-content">
                      <div class="rating">
                        <div class="view_talk">
                          <span class="fa fa-eye" style="padding-top: 4px;"> {{views}} &nbsp;&nbsp;</span>
                          <span class="comment-count"> <i class="fa fa-comment"></i>&nbsp; {{views}} </span>
                        </div>
                        <i style="margin-bottom: 5px;">{{created_at}}</i>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- chia sẻ từ chúng tôi -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- Testimonials Box -->
      <div class="testimonials">
        <div class="slider-items-products">
          <div id="testimonials-slider" class="product-flexslider hidden-buttons home-testimonials">
            <div class="slider-items slider-width-col4 ">
              <div class="holder">
                <p>MIELTS là trung tâm tiếng anh tuyệt vời</p>
                <div class="thumb"> <img src="images/testimonials-img3.jpg" alt="testimonials img"> </div>
                <strong class="name">Sơn Bách</strong> <strong class="designation">Nhân viên văn phòng CTY ABC</strong>
              </div>
              <div class="holder">
                <p>Gía rẻ, tài liệu đỉnh, thời gian linh hoạt.
                </p>
                <div class="thumb"> <img src="images/testimonials-img1.jpg" alt="testimonials img"> </div>
                <strong class="name">Nữ doanh nhân thành đạt</strong> <strong class="designation">CT Agribank</strong>
              </div>
              <div class="holder">
                <p>Tiếng Anh thay đổi cuộc đời em!</p>
                <div class="thumb"> <img src="images/testimonials-img2.jpg" alt="testimonials img"> </div>
                <strong class="name">Minh Tâm</strong> <strong class="designation">Học sinh trường THPT Mạc Đĩnh CHi</strong>
              </div>
              <div class="holder">
                <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat.</p>
                <div class="thumb"> <img src="images/testimonials-img4.jpg" alt="testimonials img"> </div>
                <strong class="name">Vince Roy</strong> <strong class="designation">CEO, XYZ Softwear</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Testimonials Box -->
    <!-- our clients Slider -->
    <div class="col-md-6">
      <div class="our-clients">
        <div class="slider-items-products">
          <div id="our-clients-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col6">

              <!-- Item -->
              <div class="item"> <a href="#"><img src="images/brand1.png" alt="Image"></a> <a href="#"><img
                    src="images/brand2.png" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"> <a href="#"><img src="images/brand3.png" alt="Image"></a> <a href="#"><img
                    src="images/brand4.png" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"> <a href="#"><img src="images/brand5.png" alt="Image"></a> <a href="#"><img
                    src="images/brand6.png" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"> <a href="#"><img src="images/brand7.png" alt="Image"></a> <a href="#"><img
                    src="images/brand3.png" alt="Image"></a> </div>
              <!-- End Item -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bottom Banner Start -->

<div class="bottom-banner-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4"> <a href="#" class="bottom-banner-img"><img src="images/ads-04.jpg"
            alt="bottom banner"> <span class="banner-overly"></span>
          <div class="bottom-img-info">
            <h3>Electronic</h3>
            <h6>Sed diam nonummy nibh euismod tincidunt</h6>
            <span class="shop-now-btn">Shop Now</span>
          </div>
        </a> </div>
      <div class="col-md-8 col-sm-8"> <a href="#" class="bottom-banner-img last"><img src="images/ads-05.jpg"
            alt="bottom banner"> <span class="banner-overly last"></span>
          <div class="bottom-img-info last">
            <h3>New Collection</h3>
            <h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h6>
            <span class="shop-now-btn">Shop Now</span>
          </div>
        </a> </div>
    </div>
  </div>
</div>