{{#section 'css'}}
<style>
  .item-brief {
    padding-left: 3px;

  }

  .product-item {
    /* margin-top: 10px; */
    /* background-color: rgb(245, 240, 139); */
    border-style: groove;
    /* border-color: honeydew; */
    border-width: 1px;
  }

  .form-control {
    width: 200px;
  }

  .page-title {
    display: flex;
    justify-content: space-between;
  }

  .form-group {
    width: fit-content;
  }

  td {
    margin: auto;
    vertical-align: middle;
  }

  .th-delete {
    font-size: x-large;
  }
</style>
{{/section}}

{{#section 'js'}}
<script>
  jQuery(document).ready(function () {
    $('.grade').click(function () {

      $('.modal-title').text("Số điểm của bạn là")
      $('.modal-body').text($(this).attr('grade'))
    console.log($(this).attr('grade'))
      $('#myMessage').modal('show')

    })
  });
</script>
{{/section}}

<!-- Main Container -->
<section class="main-container col2-right-layout">
  <div class="main container">
    <div class="row">
      <div class="col-main col-sm-9 col-xs-12">
        <div class="my-account">
          <div class="page-title">
            <h2>Danh sách bài test</h2>
          </div>
          {{#if this.empty}}
          <div class="card-body">
            <p style="color:#fed700; font-size:25px">Danh sách rỗng</p>
            <a class="continue-btn" href="/"><i class="fa fa-arrow-left"> </i>&nbsp; Về trang chủ</a>
          </div>
          {{else}}
          <div class="wishlist-item table-responsive">
            <table class="col-md-12">

              <thead>
                <tr>
                  <th class="th-delate">Xóa</th>
                  <th>Tên</th>
                  <th>Loại</th>
                  <th class="th-price">Trạng thái</th>
                  <th class="action">Vào làm</th>
                </tr>
              </thead>
              <tbody>
                {{#each this.mocktests}}
                <tr>
                  <td class="th-delete" data-id="{{_id}}"><a href="#"><i class="fas fa-times-circle"></i></a></td>

                  {{#if isDone}}
                  <td class="cart_description">
                    <p class="product-name"><a href="/user/mocktest/done/{{_id}}"> {{name}} </a></p>
                  </td>
                  {{else}}
                  <td class="cart_description">
                    <p class="product-name"><a href="/user/mocktest/pending/{{_id}}"> {{name}} </a></p>
                  </td>
                  {{/if}}

                  <td class="availability in-stock"><span class="label">{{mocktestType}}</span></td>

                  {{#if isDone}}
                  <td class="availability in-stock"><span class="label"> Hoàn thành</span></td>
                  <td class="action"><a href="javascript:;" class="grade" grade="{{grades}}"><i
                        class="fa fa-certificate"></i></a></td>
                  {{else}}
                  <td class="availability out-of-stock"><span class="label">Đang làm</span></td>
                  <td class="action"><a href="/user/mocktest/pending/{{_id}}"><i class="fa fa-edit"></i></a></td>
                  {{/if}}


                </tr>
                {{/each}}
              </tbody>

            </table>
            <a href="checkout.html" class="delete-all">Xóa tất cả</a>
          </div>
          {{/if}}
        </div>
      </div>
      <aside class="right sidebar col-sm-3 col-xs-12">
        <div class="sidebar-account block">
          <div class="sidebar-bar-title">
            <h3>Tài khoản của tôi</h3>
          </div>
          <div class="block-content">
            <ul>
              <li><a href="info">Thông tin tài khoản</a></li>
              <li><a href="wishlist">Danh sách yêu thích</a></li>
              <li class="current"><a>Các bài kiểm tra thử </a></li>
       
              <li class="last"><a href="upgrade">Nâng cấp học viên</a></li>
            </ul>
          </div>
        </div>

      </aside>
    </div>
  </div>
</section>
<!-- Main Container End -->