{{#section 'css'}}
<style>
  .item-brief {
    padding-left: 3px;

  }

  .product-item {
    /* margin-top: 10px; */
    /* background-color: rgb(245, 240, 139); */
    border-style: groove;
    /* border-color: honeydew; */
    border-width: 1px;
  }

  .form-control {
    width: 200px;
  }

  .page-title {
    display: flex;
    justify-content: space-between;
  }

  .form-group {
    width: fit-content;
  }

  td {
    margin: auto;
    vertical-align: middle;
  }

  .th-delete {
    font-size: x-large;
  }
</style>
{{/section}}

{{#section 'js'}}

<script>
   jQuery(document).ready(function () {
    $('.th-delete').click(function () {
      var myAcc = $('.my-acc').text();
      {{!-- if (myAcc === 'My Account') {
        window.location = "../../account/login";
      } --}}

      var idProduct = $(this).attr('data-id');
      $.ajax({
        url: '/user/wishlist/ajax',
        type: 'POST',
        data: {
          _id: idProduct, // $_POST['id'] = 22
          action: 'delete'
        },
        dataType: 'JSON',
        success: function (response) {
          // response : obj
          console.log(response);
          if (response.success) {
           
              
              $('.parent-' + idProduct).hide(500)
             
           
          }
        }
      })
    });
  });

</script>

{{/section}}

<!-- Main Container -->
<section class="main-container col2-right-layout">
  <div class="main container">
    <div class="row">
      <div class="col-main col-sm-9 col-xs-12">
        <div class="my-account">
          <div class="page-title">
            <h2>My Wishlist</h2>
          </div>
          {{#if this.empty}}
          <div class="card-body">
            <p style="color:#fed700; font-size:25px">Danh sách yêu thích rỗng</p>
            <a class="continue-btn" href="/"><i class="fa fa-arrow-left"> </i>&nbsp; Về trang chủ</a>
          </div>
          {{else}}
          <div class="wishlist-item table-responsive">
            <table class="col-md-12">
              <thead>
                <tr>
                  <th class="th-delate">Xóa</th>
                  <th class="th-details">Tên</th>


                </tr>
              </thead>
              <tbody>
                {{#each this.interestedItems}}
                <tr class="parent-{{_id}}">
                  <td class="th-delete" data-id="{{_id}}"><a href="javascript:;"><i class="fas fa-times-circle"></i></a></td>
            
                  <td class="th-details">
                    <h2><a href="/documents/{{_id}}">{{name}}</a></h2>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
           
          </div>
          {{/if}}
        </div>
      </div>
      <aside class="right sidebar col-sm-3 col-xs-12">
        <div class="sidebar-account block">
          <div class="sidebar-bar-title">
            <h3>Tài khoản của tôi</h3>
          </div>
          <div class="block-content">
            <ul>
              <li><a href="info">Thông tin tài khoản</a></li>
              <li class="current"><a >Danh sách yêu thích</a></li>
              <li><a href="mocktest">Các bài kiểm tra thử </a></li>
      
              <li class="last"><a href="upgrade">Nâng cấp học viên</a></li>
            </ul>
          </div>
        </div>

      </aside>
    </div>
  </div>
</section>
<!-- Main Container End -->