{{#section 'css'}}
<style>
  .rating {
    display: flex;
    justify-content: space-between;
  }

  .view_talk {

    display: flex;
    justify-content: flex-start;

  }

  figure {
    height: 171px;
  }
</style>
{{/section}}

<!-- Main Container -->
<div class="main-container col1-layout">
  <div class="container">
    <div class="row">
      <div class="col-main col-sm-12 col-xs-12">
        <div class="shop-inner">
          <div class="page-title">
            <h2> Camera & Photo</h2>
          </div>
          <div class="toolbar column">

            <div class="sorter">
              <div class="short-by">
                <form action="/categories/{{this.catId}}/documents" id="frmArrange">
                <div class="form-group">
                  <label>Sắp xếp theo:</label>
                  <select name="arrange" class="form-control" id="sel1" onchange="this.form.submit();">
                    <option selected="true" disabled="disabled">Chọn </option>
                    <option value="1">Mới nhất </option>
                    <option value="2">L.xem cao nhất</option>
                  </select>
                </div>
                </form>
              </div>

             
            </div>

          </div>

          {{#if this.empty}}
          <div class="card-body">
            <p class="card-text">
              Không có dữ liệu.
            </p>
          </div>
          {{else}}
          <div class="product-grid-area">
            <ul class="products-grid">
              {{#each this.documents}}
              <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                <div class="product-item">
                  <div class="item-inner">
                    <div class="product-thumbnail">
                      <div class="icon-sale-label sale-left">Sale</div>
                      <div class="icon-new-label new-right">New</div>
                      <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="/documents/{{_id}}">
                          <figure> <img class="first-img" src="/images/documents/{{image}}" alt="html template"> <img
                              class="hover-img" src="/images/documents/{{image}}" alt="html template"></figure>
                        </a>
                        <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Tìm hiểu
                            thêm</span> </button>
                      </div>

                      <div class="pr-info-area">
                        <div class="pr-button">
                          <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i>
                            </a> </div>


                        </div>
                      </div>

                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"> <a title="Ipsums Dolors Untra" href="/documents/{{_id}}">{{name}}</a>
                        </div>
                        <div class="item-content">
                          <div class="rating">
                            <div class="view_talk">
                              <span class="fa fa-eye" style="padding-top: 4px;"> {{views}} &nbsp;&nbsp;</span>
                              <span class="comment-count"> <i class="fa fa-comment"></i>&nbsp; 3 </span>
                            </div>
                            <i style="margin-bottom: 5px;">{{created_at}}</i>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              {{/each}}

            </ul>
          </div>
          {{/if}}
          <div class="pagination-area ">
            <ul>
              {{#if this.is_not_start}}
              <li><a href="?page=1">Đầu</a></li>
              <li>
                <a href="?page={{prev_value}}">
                  <i class="fa fa-angle-left"></i>
                </a>
              </li>
              {{/if}}

              {{#each this.page_numbers}}
              {{#if isCurrentPage}}

              <li>
                <a class="active" href="javascript:;">{{value}}</a>
              </li>
              {{else}}

              <li>
                <a href="?page={{value}}">{{value}}</a>
              </li>
              {{/if}}
              {{/each}}

              {{#if this.is_not_last}}
              <li>
                <a href="?page={{next_value}}">
                  <i class="fa fa-angle-right"></i>
                </a>
              </li>
              <li><a href="?page={{this.nPages}}">Cuối</a></li>
              {{/if}}

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Container End -->