{{#section 'css'}}
<style>
  .rounded {
    height: 80px;
    width: 80px;
    border-style: dotted;
  }

  .my-price,
  .bidder-name,
  .seller-name {
    display: flex;
    justify-content: space-between !important;

  }

  .quick-price .price {
    color: #777777 !important;
    font-size: 17px !important;
    font-weight: normal;
    margin-left: 6px;
  }

  .quick-price {
    margin-top: 4px;
  }

  .bidder-name,
  .seller-name,
  .time-left {
    font-size: 15px;
    padding-top: 12px;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 15px
  }

  .created-day {
    font-size: 15px;
    margin-bottom: 15px
  }

  .product-cart-option {
    border-top: 1px solid #e5e5e5;
    display: inline-block;
  }

  .wishlist-group {
    padding-top: 10px !important;
  }

  .bidder-name h2,
  .seller-name h2,
  .created-day h2 {
    font-size: 15px;
    text-transform: uppercase;
    color: #333e48;
    margin-bottom: 5px;
    font-weight: bold
  }

  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #customers tr:hover {
    background-color: #ddd;
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
</style>
{{/section}}

{{#section 'js'}}

<!-- flexslider js -->
<script type="text/javascript" src="/js/jquery.flexslider.js"></script>
<!--cloud-zoom js -->
<script type="text/javascript" src="/js/cloud-zoom.js"></script>

<script>
  function plusBid() {
    var result = document.getElementById('qty');
    var qty = parseInt(result.value);
    if (!isNaN(qty)) {
      result.value = qty + 100000;
    }
    return false;
  }

  function minusBid() {
    var result = document.getElementById('qty');
    var qty = parseInt(result.value);
    if (!isNaN(qty) && qty > 0)
      result.value = qty - 100000;
    return false;
  }

  function bidValidate() {

    var myAcc = $('.my-acc').text();
    if (myAcc === 'My Account') {
      window.location = "../../account/login";
    }
    else {
      if ($('.product-name').attr('data-pro-status') != 1) {
        alert("Sản phẩm đã hết phiên đấu giá");
        return false;
      }
      if ($('.fa-user').attr('data-id') == $('.bidder-user').attr('data-id')) {
        alert("Bạn đang là người giữ giá cao nhất");
        return false;
      }
      else {
        if ($('.fa-user').attr('data-id') == $('.seller-user').attr('data-id')) {
          alert("Bạn không được ra giá giá cho sản phẩm của mình");
          return false
        }
        else {
          var a = parseInt($('#current_bid').attr('value'));// giá cao nhât hiện tại
          var b = parseInt($('#qty').val()); //giá mà người dùng bid
          if (b <= a || b % 100000 != 0) {
            alert('Giá đấu phải lớn hơn giá hiện tại và là bội số của 100k');
            return false;
          }
        }
      }
    }
    return true;
  }

  function formatNumber(num) {
    return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
  }
</script>

{{/section}}

<!-- Main Container -->
    <section class="blog_post">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <div class="entry-detail">
              <div class="page-title">
                <h1>IELTS Listening: Dạng câu hỏi Flowcharts, Notes, Tables, Summaries And Forms
                </h1>
              </div>
              <div class="entry-photo">
                <figure><img src="/images/products/mau1.jpg" alt="Blog"></figure>
              </div>
              <div class="entry-meta-data"> <span class="author"> <i class="fa fa-user"></i>&nbsp; by: <a
                    href="#">Admin</a></span> 
                  <span class="fa fa-eye" style="padding-top: 4px; "> </span>28924 &nbsp;&nbsp;
                  
                  <span class="comment-count"> <i
                    class="fa fa-comment"></i>&nbsp; 3 </span> <span class="date"><i
                    class="fa fa-calendar">&nbsp;</i>&nbsp; 2015-08-05</span>
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                    class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>&nbsp; <span>(5 votes)</span></div>
              </div>
              <div class="content-text clearfix">
                <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                  Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer
                  adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus
                  eget, elementum vel.</p>
                <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.
                  Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam
                  cursus leo vel metus. Nulla facilisi. Aenean nec eros.</p>
                <blockquote> Lorem ipsum dolor sit amet, verenam operibus furiam conclusoque sponte profundo. Conservus
                  mihi esse haec aliquam inlido laetare quod eam ad per. Antiochia videns quia quod non ait est
                  Apollonius non dum animae tertio eam ad te princeps ea docentur Hellenicus ut diem finito convocatis
                  secessit civitatis civium takimata. Parem luctu gubernatori usque vero rex Dionysiadi me missam ne
                  alicuius altum pervenit est amet amet Cur meae. </blockquote>
                <div class="post_content">
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Trong bài thi IELTS Listening Test, bạn
                      sẽ gặp dạng <strong>Flowcharts, Notes, Tables, Summaries And Forms</strong> thường xuyên. Đây là
                      một dạng câu hỏi điền từ, yêu cầu người thi phải điền chính xác theo yêu cầu.</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Vậy cụ thể dạng câu hỏi này như thế
                      nào? Có chiến lược gì để trả lời câu hỏi đúng và chính xác hơn không? Cần chú ý điều gì để điền
                      chính xác đáp án?</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Flowcharts, Notes, Tables, Summaries
                      And Forms là dạng câu hỏi về bảng biểu, ghi chú, bảng, bản tóm tắt, bản đăng ký, bảng thông
                      tin…Bài viết dưới đây sẽ giới thiệu cho bạn về cách để hoàn thành câu hỏi này dễ dàng hơn.</span>
                  </p>
                  <p style="text-align: left;"><span style="font-size: 11pt;">Ngoài ra, bạn hãy cùng tham gia khóa học
                      Listening Free với thực hành chi tiết do Ms.Quỳnh chia sẻ nhé:</span></p>
                  <table style="background-color: #c7d6df; margin-left: auto; margin-right: auto;">
                    <tbody>
                      <tr>
                        <td>
                          <p><span style="font-size: 11pt; color: #0000ff;"><strong><a style="color: #0000ff;"
                                  title="Unit&nbsp;1: Tổng quan Listening"
                                  href="https://www.youtube.com/watch?v=K3iBagohwKw" target="_blank">Unit&nbsp;0: Tổng
                                  quan Listening</a></strong></span></p>
                          <p><span style="font-size: 11pt; color: #0000ff;"><strong><a
                                  style="color: #0000ff; text-decoration: underline;" title="Unit 1: Form Completion"
                                  href="https://ielts-fighter.com/tin-tuc/IELTS-Listening-Huong-dan-cach-lam-dang-bai-Form-Completion_mt1576612737.html"
                                  target="_blank">Unit 1: Form Completion</a></strong></span></p>
                          <p><span style="text-decoration: underline; color: #0000ff; font-size: 11pt;"><strong><a
                                  style="color: #0000ff; text-decoration: underline;"
                                  title="Unit 2: Maps/Plans Labelling"
                                  href="https://ielts-fighter.com/tin-tuc/IELTS-Listening-Huong-dan-cach-lam-dang-bai-Map-Plans-Labelling_mt1576784923.html"
                                  target="_blank">Unit 2: Maps/Plans Labelling</a></strong></span></p>
                          <p><span style="font-size: 11pt; color: #0000ff;"><strong><a style="color: #0000ff;"
                                  title="Unit 3:Multiple Choice"
                                  href="https://ielts-fighter.com/tin-tuc/Huong-dan-cach-lam-bai-Multiple-Choice-trong-IELTS-Listening_mt1577674448.html"
                                  target="_blank">Unit 3:Multiple Choice</a></strong></span></p>
                          <p><span style="font-size: 11pt; color: #0000ff;"><strong><a style="color: #0000ff;"
                                  title="Unit 4:Note Completion"
                                  href="https://ielts-fighter.com/tin-tuc/IELTS-Listening-Huong-dan-cach-lam-bai-NOTE-COMPLETION_mt1577926894.html"
                                  target="_blank">Unit 4:Note Completion</a></strong></span></p>
                          <p><span style="font-size: 11pt; color: #0000ff;"><strong><a style="color: #0000ff;"
                                  title="Unit 5: Practice Test"
                                  href="https://www.youtube.com/watch?v=_-VmPQpesO8&amp;t=155s" target="_blank">Unit 5:
                                  Practice Test</a></strong></span></p>
                          <p><span style="font-size: 11pt; color: #0000ff;"><strong><strong><a style="color: #0000ff;"
                                    title="Unit 6: Sentence Summarry Completion&nbsp; "
                                    href="https://ielts-fighter.com/tin-tuc/IELTS-Listening-Huong-dan-cach-lam-SENTENCE-SUMMARY-COMPLETION_mt1578344508.html"
                                    target="_blank">Unit 6: Sentence Summarry
                                    Completion</a></strong>&nbsp;</strong></span></p>
                          <p><span style="font-size: 11pt; color: #0000ff;"><strong><a style="color: #0000ff;"
                                  title="Unit 7: Matching/Classifying"
                                  href="https://ielts-fighter.com/tin-tuc/IELTS-Listening-Huong-dan-cach-lam-bai-MATCHING-CLASSIFYING_mt1578599495.html"
                                  target="_blank">Unit 7: Matching/Classifying</a></strong></span></p>
                          <p><span style="font-size: 11pt; color: #0000ff;"><strong><a style="color: #0000ff;"
                                  title="Unit 8: Short answer"
                                  href="https://www.youtube.com/watch?v=J_NF0ao6X64&amp;t=337s" target="_blank">Unit 8:
                                  Short answer</a></strong></span></p>
                          <p><span style="font-size: 11pt; color: #0000ff;"><strong><a style="color: #0000ff;"
                                  title="Unit 9: Diagram/Flow chart Completion"
                                  href="https://www.youtube.com/watch?v=ysWsyzD2QrU&amp;t=127s" target="_blank">Unit 9:
                                  Diagram/Flow chart Completion</a></strong></span></p>
                          <p><span style="font-size: 11pt; color: #0000ff;"><strong><a style="color: #0000ff;"
                                  title="Unit 10: Practice Test"
                                  href="https://www.youtube.com/watch?v=_-VmPQpesO8&amp;t=155s" target="_blank">Unit 10:
                                  Practice Test</a></strong></span></p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <h2 style="text-align: justify;"><span style="font-size: 12pt; color: #ff0000;"><strong>Lưu ý quan
                        trọng với dạng câu hỏi Flowcharts, Notes, Tables, Summaries And Forms</strong></span></h2>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Trước khi bắt đầu tìm hiểu từng câu hỏi
                      và cách làm bài <strong><a title="IELTS Listening" href="http://ielts-fighter.com/listening"
                          target="_blank">IELTS Listening</a></strong>, điều quan trọng bạn cần ghi nhớ là hãy chú ý
                      những yêu cầu mà câu hỏi đề ra.</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Có nhiều thí sinh đã không đọc kỹ câu
                      hỏi và làm chính xác theo yêu cầu dẫn đến mất điểm trầm trọng. Bạn cần chú ý nhé.</span></p>
                  <p style="text-align: justify;"><strong><span style="font-size: 11pt;">Ví dụ các điều kiện yêu cầu
                        theo câu hỏi:</span></strong></p>
                  <ul style="text-align: justify;">
                    <li><span style="font-size: 11pt;">Write NO MORE THAN ONE WORD for each answer</span></li>
                    <li><span style="font-size: 11pt;">Write NO MORE THAN ONE WORD AND/OR A NUMBER for each
                        answer</span></li>
                    <li><span style="font-size: 11pt;">Write NO MORE THAN TWO WORDS for each answer</span></li>
                  </ul>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Nếu như các bạn không làm đúng yêu cầu
                      viết không được hơn 1 từ, 1 số hay 2 từ…thì sẽ mất điểm ngay lập tức.</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Chú ý, số ở đây không phải là một chữ
                      số. Đó có thể là số năm, số điện thoại (dãy số), số tuổi…Vì thế hãy đọc kỹ yêu cầu và câu hỏi để
                      biết mình cần điền gì.</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Câu trả lời bạn phải thực hiện theo
                      đúng yêu cầu về số lượng từ hoặc số. Nên, theo từng câu hỏi mà các bạn phải sử dụng kiến thức của
                      mình để chia động từ hay thay đổi các động từ thành danh từ, danh từ thành danh từ, động từ, kết
                      hợp từ này với từ khác…đáp ứng yêu cầu số lượng và vẫn đúng ý câu hỏi.</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Ví dụ về Add – thêm và các dạng từ của
                      nó với đáp án đúng theo từng câu:</span></p>
                  <ul style="text-align: justify;">
                    <li><span style="font-size: 11pt;">Once the ingredients had been <strong>added</strong> the mixture
                        was pliable.</span></li>
                    <li><span style="font-size: 11pt;">When you <strong>add</strong> the ingredients you will see the
                        mixture start to change.</span></li>
                    <li><span style="font-size: 11pt;">After <strong>adding</strong> the two main ingredients, the
                        mixture was ready to be stirred.</span></li>
                  </ul>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Ở câu 1, bạn dùng thì quá khứ hoàn
                      thành, ở câu hai dạng của add lại là thì hiện tại đơn, câu ba thì lại là dạng V-ing.</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Bên cạnh đó, những từ đồng nghĩa, từ
                      trái nghĩa cũng được sử dụng trong bài nghe nên hãy để ý. Bài Nghe sẽ kiểm tra khả năng nghe và sử
                      dụng ngôn ngữ đó của bạn nên cần có sự biến chuyển theo đúng yêu cầu đề bài.</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Bạn có thể thấy ví dụ: trong bài nghe,
                      họ nói về travel, nhưng trên câu hỏi bảng của bạn là excursion. Nếu không hiểu rõ và biết được hai
                      ý đồng nghĩa này, bạn sẽ thấy rối và không hiểu câu hỏi ban đầu đấy. Đây cũng là một bẫy trong
                      Listening mà khi nghe, bạn hãy để ý.</span></p>
                  <h3 style="text-align: justify;"><span style="font-size: 12pt; color: #ff0000;">Chiến lược làm
                      bài&nbsp;<strong>Flowcharts, Notes, Tables, Summaries And Forms</strong></span></h3>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Theo dạng câu hỏi<strong> Flowcharts,
                        Notes, Tables, Summaries And Forms</strong> thì bạn trước hết hãy đọc kỹ yêu cầu câu hỏi và áp
                      dụng các chiến lược dưới đây sẽ giúp bạn nghe tốt và điền đúng đáp án hơn.</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;"><strong>Bước 1:</strong> Hãy đọc kỹ câu
                      hỏi từ yêu cầu số lượng từ, số cần điền như đã nói ở trên đến những thông tin được cung cấp trong
                      bảng, bản, biểu.</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Hãy suy nghĩ về bối cảnh của bài nghe
                      bạn sẽ được nghe. Đây là một bước dự đoán câu trả lời. Ví dụ với một form đăng ký thì đó là đăng
                      ký trường học, thư viện hay mua vé máy bay, đặt hàng…</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;"><strong>Bước 2:</strong> Xác định từ
                      thông tin được cung cấp những từ khóa mà bạn cho rằng quan trọng, cần để ý khi nghe.</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Tiếp tục dự đoán câu trả lời sẽ điền
                      vào từng phần. Bởi bạn có từ khóa và “đoán” được dạng từ cần điền, số hay những từ như thế nào…thì
                      khi nghe sẽ nhanh chóng nắm được keys hơn.</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Phần dự đoán câu trả lời, bạn có thể
                      luyện tập thêm với :</span></p>
                  <ul>
                    <li style="text-align: justify;"><strong><span style="font-size: 11pt; color: #0000ff;"><a
                            style="color: #0000ff;"
                            title="Unit 30: Luyện tập đọc câu hỏi đoán thông tin IELTS Listening"
                            href="http://ielts-fighter.com/listening/Unit-30-Luyen-tap-doc-cau-hoi-doan-thong-tin-IELTS-Listening_mt1556038533.html"
                            target="_blank">Unit 30: Luyện tập đọc câu hỏi đoán thông tin IELTS
                            Listening</a></span></strong></li>
                    <li style="text-align: justify;"><strong><span style="font-size: 11pt; color: #0000ff;"><a
                            style="color: #0000ff;" title="Unit 21: Luyện tập "
                            href="http://ielts-fighter.com/listening/Unit-21-Luyen-tap-34-du-doan-34-khi-lam-bai-Listening_mt1508236979.html"
                            target="_blank">Unit 21: Luyện tập "dự đoán" khi làm bài Listening</a>
                          &nbsp;</span></strong></li>
                  </ul>
                  <p style="text-align: justify;"><span style="font-size: 11pt;"><strong>Bước 3:</strong> Bạn chỉ được
                      nghe một lần nên nghe cẩn thận để nắm thông tin. Hãy chú ý những thông tin “nhiễu” ảnh hưởng đến
                      câu trả lời.</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Bạn luyện tập tránh nhiễu thêm với bài
                      học:</span></p>
                  
                  
                  <p style="text-align: center;"><span style="font-size: 11pt;"><iframe
                        src="//www.youtube.com/embed/KIpVNhf5Nqk" width="425" height="350"></iframe></span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Một ví dụ dưới đây và bạn hãy thử làm
                      bài nhé:</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;"><audio controls="controls">
                        <source
                          src="http://static.ielts-fighter.com/uploads/2019/04/file%20nghe%20test%20listening/notes.mp3"
                          type="audio/mpeg"></audio></span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Write NO MORE THAN THREE WORDS AND/OR A
                      NUMBER for each answer.</span></p>
                  <p style="text-align: justify;">&nbsp;</p>
                  <table border="-">
                    <tbody>
                      <tr>
                        <td>
                          <p style="text-align: center;"><strong><span style="font-size: 11pt;">History of The
                                Acropolis</span></strong></p>
                          <p style="text-align: justify;"><span style="font-size: 11pt;">The Beginning</span></p>
                          <p style="text-align: justify;"><span style="font-size: 11pt;">A temple to the goddess 31.
                              ..............................</span></p>
                          <p style="text-align: justify;"><span style="font-size: 11pt;">A symbol of culture and 32.
                              ............................................</span></p>
                          <p style="text-align: justify;"><span style="font-size: 11pt;">Aesthetics</span></p>
                          <p style="text-align: justify;"><span style="font-size: 11pt;">Full of decoration, the
                              Parthenon was home to a detailed 33. .................................. above the
                              columns.</span></p>
                          <p style="text-align: justify;"><span style="font-size: 11pt;">The Parthenon had been built
                              for 34. ........................... years.</span></p>
                          <p style="text-align: justify;"><span style="font-size: 11pt;">Under Attack</span></p>
                          <p style="text-align: justify;"><span style="font-size: 11pt;">&nbsp;</span></p>
                          <p style="text-align: justify;"><span style="font-size: 11pt;">The Parthenon was attacked
                              during 35. .........................</span></p>
                          <p style="text-align: justify;"><span style="font-size: 11pt;">Later on, Lord Elgin wanted to
                              remove the 36. ......................................... and take them to England.</span>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p style="text-align: justify;"><strong><span style="font-size: 11pt;">Đáp án</span></strong></p>
                  <p><span style="font-size: 11pt;">31. Athena</span></p>
                  <p><span style="font-size: 11pt;">32. refinement</span></p>
                  <p><span style="font-size: 11pt;">33. frieze</span></p>
                  <p><span style="font-size: 11pt;">34. 2000</span></p>
                  <p><span style="font-size: 11pt;">35. 1687</span></p>
                  <p><span style="font-size: 11pt;">36. marble friezes</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">&nbsp;</span></p>
                  <p style="text-align: justify;"><span
                      style="background-color: #ffff00; font-size: 12pt;"><strong>COMPLETING A TABLE</strong></span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Câu hỏi này yêu cầu bạn hoàn thành một
                      bảng ở những chỗ trống. Khi đọc tiêu đề trong bảng thì bạn sẽ biết được loại thông tin sẽ nghe và
                      cần phải điền.</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Bạn cần nghe và điền đáp án mà mình cho
                      là đúng khi nghe bài test sau đó kiểm tra. Ở các câu hỏi sẽ quy định số lượng từ và số cho đáp
                      án.</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Một ví dụ ở đây:</span></p>
                  <p style="text-align: justify;"><audio controls="controls">
                      <source
                        src="http://static.ielts-fighter.com/uploads/2019/05/bai-hoc-listening/complting-a-table-5-dang.mp3"
                        type="audio/mpeg"></audio></p>
                  <table border="-">
                    <tbody>
                      <tr>
                        <td style="text-align: center;" colspan="3"><span style="font-size: 11pt;">'Student Life' video
                            project</span><br><br></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td><span style="font-size: 11pt;">Cristina</span></td>
                        <td><span style="font-size: 11pt;">Ibrahim</span></td>
                      </tr>
                      <tr>
                        <td><span style="font-size: 11pt;">Enjoyed:</span></td>
                        <td><span style="font-size: 11pt;">• using the camera</span><br><span style="font-size: 11pt;">•
                            going to British (21) .................</span></td>
                        <td>
                          <p><span style="font-size: 11pt;">contact with students doing other courses</span></p>
                          <p><span style="font-size: 11pt;"> (has asked some to (22) ................. with him)</span>
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td><span style="font-size: 11pt;">Most useful</span><br><span
                            style="font-size: 11pt;">language</span><br><span style="font-size: 11pt;">practice:</span>
                        </td>
                        <td><span style="font-size: 11pt;">• listening to instructions</span><br><span
                            style="font-size: 11pt;">• learning (23) ................. vocabulary</span></td>
                        <td><span style="font-size: 11pt;">listening to British students'</span><br><span
                            style="font-size: 11pt;">language because of</span><br><span style="font-size: 11pt;">-
                            normal speed</span><br><span style="font-size: 11pt;">- large amount of (24)
                            .................</span></td>
                      </tr>
                      <tr>
                        <td><span style="font-size: 11pt;">General</span><br><span
                            style="font-size: 11pt;">usefulness:</span></td>
                        <td><span style="font-size: 11pt;">• operating video camera</span><br><span
                            style="font-size: 11pt;">• working with other people:</span><br><span
                            style="font-size: 11pt;"> - learning about (25) ................. </span><br><span
                            style="font-size: 11pt;"> - compromising</span><br><span style="font-size: 11pt;"> - (26)
                            ................. people who have different views</span></td>
                        <td><span style="font-size: 11pt;">the importance of (27) .................</span></td>
                      </tr>
                      <tr>
                        <td><span style="font-size: 11pt;">Things to do</span><br><span
                            style="font-size: 11pt;">differently in</span><br><span
                            style="font-size: 11pt;">future:</span></td>
                        <td><span style="font-size: 11pt;">• decide when to (28) ................. each stage at the
                            beginning</span><br><span style="font-size: 11pt;">• make more effort to (29)
                            ................. with the camera</span></td>
                        <td><span style="font-size: 11pt;">don't make the film too (30) .................</span></td>
                      </tr>
                    </tbody>
                  </table>
                  <p>&nbsp;</p>
                  <p><span style="font-size: 11pt;">Đáp án:</span></p>
                  <p><span style="font-size: 11pt;">21. home / student's home</span></p>
                  <p><span style="font-size: 11pt;">22. (have) dinner / come to dinner / go to dinner</span></p>
                  <p><span style="font-size: 11pt;">23. techincal</span></p>
                  <p><span style="font-size: 11pt;">24. slang</span></p>
                  <p><span style="font-size: 11pt;">25. cooperating / cooperation </span></p>
                  <p><span style="font-size: 11pt;">26. persuading</span></p>
                  <p><span style="font-size: 11pt;">27. editing</span></p>
                  <p><span style="font-size: 11pt;">28. complete</span></p>
                  <p><span style="font-size: 11pt;">29. experiment</span></p>
                  <p><span style="font-size: 11pt;">30. long</span></p>
                  <p style="text-align: justify;"><span
                      style="background-color: #ffff00; font-size: 12pt;"><strong>COMPLETING A SUMMARY</strong></span>
                  </p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Hoàn thành một bản tóm tắt thường là
                      nghe giới thiệu về một cuốn sách, nhà hàng, sự kiện, bộ phim…Câu hỏi giống như bài tập tóm tắt
                      khác với một đoạn văn ngắn để bạn điền vào chỗ trống. Ngữ pháp rất quan trọng trọng ở câu hỏi
                      này.</span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Các thông tin trong bài nghe được cung
                      cấp giúp bạn điền từ. Hãy luyện tập đọc và dự đoán từ phù hợp điền vào chỗ trống.</span></p>
                  <p style="text-align: center;"><span style="font-size: 11pt;"><iframe
                        src="//www.youtube.com/embed/ZrpTrsJOoAE" width="425" height="350"></iframe></span></p>
                  <p style="text-align: justify;"><span style="font-size: 11pt;">Một ví dụ ở đây:</span></p>
                  <p style="text-align: justify;">&nbsp;<audio controls="controls">
                      <source
                        src="http://static.ielts-fighter.com/uploads/2019/04/file%20nghe%20test%20listening/sumary.mp3"
                        type="audio/mpeg"></audio></p>
                  <p style="text-align: justify;">&nbsp;</p>
                  <table border="-">
                    <tbody>
                      <tr>
                        <td>
                          <p><span style="font-size: 11pt;">Complete the summary below.</span></p>
                          <p><span style="font-size: 11pt;">Choose ONE WORD ONLY from the passage for each
                              answer.</span></p>
                          <p style="text-align: center;"><strong><span style="font-size: 11pt;">How To Write A
                                Speech</span></strong></p>
                          <p><span style="font-size: 11pt;">This is the second most important thing you need to do when
                              you are creating your speech. The first thing you should do is understand what your 37.
                              ................................... will be. How do you plan on getting people's
                              attention? You need to think of something that will link to the 38. ................ this
                              is the idea that you are trying to sell or the point you are making to your audience. The
                              next thing you need to include is the 39. ............................. this would be the
                              main points you are getting across. Next, you would have a call to action, telling them
                              what you want them to do. Finally, you will 40. ............................... and link
                              this back to the opening.</span></p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
             
                </div>

              </div>


              <div class="pagination-area ">
                <ul>
                  <li><a href="?page=1">Đầu</a></li>
                  <li>
                    <a href="?page=1">
                      <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                  </li>
    
                 
                  <li>
                    <a href="?page=1">1</a>
                  </li>
    
                  <li>
                    <a class="active" href="javascript:;">2</a>
                  </li>
                 
                  <li>
                    <a href="?page=3">3</a>
                  </li>
                 
                  <li>
                    <a href="?page=4">4</a>
                  </li>
                  
                  <li>
                    <a href="?page=3">
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li><a href="?page=4">Cuối</a></li>
    
                </ul>
              </div>
            </div>
            <!-- Related Posts -->
            <div class="single-box">
              <h2>Related Posts</h2>
              <div class="slider-items-products">
                <div id="related-posts" class="product-flexslider hidden-buttons">
                  <div class="slider-items slider-width-col4 fadeInUp">
                    <div class="product-item">
                      <article class="entry">
                        <div class="entry-thumb image-hover2"> <a href="#"> <img src="/images/blog-img2.jpg" alt="Blog">
                          </a> </div>
                        <div class="entry-info">
                          <h3 class="entry-title"><a href="#">Qui ut ceteros comprehensam</a></h3>
                          <div class="entry-meta-data"> <span class="comment-count"> <i
                                class="fa fa-comment-o">&nbsp;</i> 1 </span> <span class="date"> <i
                                class="fa fa-calendar">&nbsp;</i> 2015-12-05 </span> </div>
                          <div class="entry-more"> <a href="#">Read more</a> </div>
                        </div>
                      </article>
                    </div>
                    <div class="product-item">
                      <article class="entry">
                        <div class="entry-thumb image-hover2"> <a href="#"> <img src="/images/blog-img3.jpg" alt="Blog">
                          </a> </div>
                        <div class="entry-info">
                          <h3 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h3>
                          <div class="entry-meta-data"> <span class="comment-count"> <i
                                class="fa fa-comment-o">&nbsp;</i> 5 </span> <span class="date"> <i
                                class="fa fa-calendar">&nbsp;</i> 2015-12-15 </span> </div>
                          <div class="entry-more"> <a href="#">Read more</a> </div>
                        </div>
                      </article>
                    </div>
                    <div class="product-item">
                      <article class="entry">
                        <div class="entry-thumb image-hover2"> <a href="#"> <img src="/images/blog-img4.jpg" alt="Blog">
                          </a> </div>
                        <div class="entry-info">
                          <h3 class="entry-title"><a href="#">Lorem ipsum dolor</a></h3>
                          <div class="entry-meta-data"> <span class="comment-count"> <i
                                class="fa fa-comment-o">&nbsp;</i> 6 </span> <span class="date"> <i
                                class="fa fa-calendar">&nbsp;</i> 2015-12-11 </span> </div>
                          <div class="entry-more"> <a href="#">Read more</a> </div>
                        </div>
                      </article>
                    </div>
                    <div class="product-item">
                      <article class="entry">
                        <div class="entry-thumb image-hover2"> <a href="#"> <img src="/images/blog-img5.jpg" alt="Blog">
                          </a> </div>
                        <div class="entry-info">
                          <h3 class="entry-title"><a href="#">Sed ut perspiciatis</a></h3>
                          <div class="entry-meta-data"> <span class="comment-count"> <i
                                class="fa fa-comment-o">&nbsp;</i> 10 </span> <span class="date"> <i
                                class="fa fa-calendar">&nbsp;</i> 2016-01-05 </span> </div>
                          <div class="entry-more"> <a href="#">Read more</a> </div>
                        </div>
                      </article>
                    </div>
                    <div class="product-item">
                      <article class="entry">
                        <div class="entry-thumb image-hover2"> <a href="#"> <img src="/images/blog-img6.jpg" alt="Blog">
                          </a> </div>
                        <div class="entry-info">
                          <h3 class="entry-title"><a href="#">Iste natus error</a></h3>
                          <div class="entry-meta-data"> <span class="comment-count"> <i
                                class="fa fa-comment-o">&nbsp;</i> 0 </span> <span class="date"> <i
                                class="fa fa-calendar">&nbsp;</i> 2015-12-25 </span> </div>
                          <div class="entry-more"> <a href="#">Read more</a> </div>
                        </div>
                      </article>
                    </div>
                    <div class="product-item">
                      <article class="entry">
                        <div class="entry-thumb image-hover2"> <a href="#"> <img src="/images/blog-img7.jpg" alt="Blog">
                          </a> </div>
                        <div class="entry-info">
                          <h3 class="entry-title"><a href="#">omnis iste natus</a></h3>
                          <div class="entry-meta-data"> <span class="comment-count"> <i
                                class="fa fa-comment-o">&nbsp;</i> 8 </span> <span class="date"> <i
                                class="fa fa-calendar">&nbsp;</i> 2016-01-09 </span> </div>
                          <div class="entry-more"> <a href="#">Read more</a> </div>
                        </div>
                      </article>
                    </div>
                    <div class="product-item">
                      <article class="entry">
                        <div class="entry-thumb image-hover2"> <a href="#"> <img src="/images/blog-img1.jpg" alt="Blog">
                          </a> </div>
                        <div class="entry-info">
                          <h3 class="entry-title"><a href="#">unde omnis iste</a></h3>
                          <div class="entry-meta-data"> <span class="comment-count"> <i
                                class="fa fa-comment-o">&nbsp;</i> 2 </span> <span class="date"> <i
                                class="fa fa-calendar">&nbsp;</i> 2016-01-02 </span> </div>
                          <div class="entry-more"> <a href="#">Read more</a> </div>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./Related Posts -->
            
            <!-- Comment -->
            <div class="single-box">
              <h2 class="">Comments</h2>
              <div class="comment-list">
                <ul>

                  <div class="my-comment">
                  <li>
                    <div class="avartar"> <img src="/images/avatar.png" alt="Avatar"> </div>
                    <div class="comment-body">
                      <div class="comment-meta"> <span class="author"><a href="#">Admin</a></span> <span
                          class="date">2015-04-01</span> </div>
                      <div class="comment"> Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer
                        rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.
                      </div>
                      <div class="comment_like"><a href="#">Thích</a><span aria-hidden="true"> · </span>
                        <a class="respone" href="javascript:;">Phản hồi</a><span aria-hidden="true"> · </span>
                        <span><i class="fas fa-thumbs-up"></i>&nbsp; 1</span> <span aria-hidden="true"> · </span>
                      <span class="comment-count"> <a href="javascript:;"> <i class="fa fa-comment-o" aria-hidden="true">&nbsp;</i> 5 </a></span>
                    </div>
                    </div>
                  </li>
                  <li>
                    <ul class="my-sub-comment-group">

                      <li>
                        <div class="avartar"> <img src="/images/avatar.png" alt="Avatar"> </div>
                        <div class="comment-body">
                          <div class="comment-meta"> <span class="author"><a href="#">Admin</a></span> <span
                              class="date">2015-04-01</span> </div>
                          <div class="comment"> Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer
                            rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.
                          </div>
                          <div class="comment_like"><a href="#">Thích</a><span aria-hidden="true"> · </span><a class="respone" href="javascript:;">Phản hồi</a><span aria-hidden="true"> · 
                          </span><span><i class="fas fa-thumbs-up"></i>&nbsp; 1</span> 
                        </div>
                        </div>
                      </li>

                      <li class='my-sub-comment'>
                        <div class='avartar'> 
                          <img src='images/avatar.png' alt='Avatar'>
                         </div>
                         <div class='comment-body'>
                           <div class='my-comment-form'> 
                             <textarea name='message' id='message' rows='8' class='form-control'></textarea>            
                              <button class='button'>
                                <span>Post Comment</span></button>
                                <button class='button cancel'><span>Hủy</span>
                                </button> 
                              </div> 
                            </div>
                           </li>
                    </ul>
                  </li>
                </div>
                </ul>
              </div>
            </div>

            <!-- ./Comment -->
          </div>
          <!-- right colunm -->
          <aside class="right sidebar col-xs-12 col-sm-3">
            <!-- Blog category -->
            <div class="block blog-module">
              <p class="title_block">Blog Categories</p>
              <div class="block_content">
                <!-- layered -->
                <div class="layered layered-category">
                  <div class="layered-content">
                    <ul class="tree-menu">
                      <li><a href="#"><i class="fa fa-angle-right"></i>&nbsp; Images</a></li>
                      <li><i class="fa fa-angle-right"></i>&nbsp; <a href="#">Audio</a></li>
                      <li><i class="fa fa-angle-right"></i>&nbsp; <a href="#">Photos</a></li>
                      <li><i class="fa fa-angle-right"></i>&nbsp; <a href="#">Diet &amp; Fitness</a></li>
                      <li><i class="fa fa-angle-right"></i>&nbsp; <a href="#">Slider</a></li>
                    </ul>
                  </div>
                </div>
                <!-- ./layered -->
              </div>
            </div>
            <!-- ./blog category  -->
            <!-- Popular Posts -->
            <div class="block blog-module wow fadeInUp">
              <p class="title_block">Popular Posts</p>
              <div class="block_content">
                <!-- layered -->
                <div class="layered">
                  <div class="layered-content">
                    <ul class="blog-list-sidebar">
                      <li>
                        <div class="post-thumb"> <a href="#"><img src="/images/blog-img1.jpg" alt="Blog"></a> </div>
                        <div class="post-info">
                          <h5 class="entry_title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                          <div class="post-meta"> <span class="date"><i class="fa fa-calendar">&nbsp;</i>
                              2014-08-05</span> <span class="comment-count"> <i class="fa fa-comment-o">&nbsp;</i> 8
                            </span> </div>
                        </div>
                      </li>
                      <li>
                        <div class="post-thumb"> <a href="#"><img src="/images/blog-img2.jpg" alt="Blog"></a> </div>
                        <div class="post-info">
                          <h5 class="entry_title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                          <div class="post-meta"> <span class="date"><i class="fa fa-calendar">&nbsp;</i>
                              2014-08-05</span> <span class="comment-count"> <i class="fa fa-comment-o">&nbsp;</i> 5
                            </span> </div>
                        </div>
                      </li>
                      <li>
                        <div class="post-thumb"> <a href="#"><img src="/images/blog-img3.jpg" alt="Blog"></a> </div>
                        <div class="post-info">
                          <h5 class="entry_title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                          <div class="post-meta"> <span class="date"><i class="fa fa-calendar">&nbsp;</i>
                              2014-08-05</span> <span class="comment-count"> <i class="fa fa-comment-o">&nbsp;</i> 1
                            </span> </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- ./layered -->
              </div>
            </div>
            <!-- ./Popular Posts -->

            <!-- Recent Comments -->
            <div class="block blog-module wow fadeInUp">
              <p class="title_block">Recent Comments</p>
              <div class="block_content">
                <!-- layered -->
                <div class="layered">
                  <div class="layered-content">
                    <ul class="recent-comment-list">
                      <li>
                        <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                        <div class="comment"> "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..." </div>
                        <div class="author">Posted by <a href="#">Admin</a></div>
                      </li>
                      <li>
                        <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                        <div class="comment"> "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..." </div>
                        <div class="author">Posted by <a href="#">Admin</a></div>
                      </li>
                      <li>
                        <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                        <div class="comment"> "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..." </div>
                        <div class="author">Posted by <a href="#">Admin</a></div>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- ./layered -->
              </div>
            </div>
            <!-- ./Recent Comments -->
            <!-- tags -->
            <div class="popular-tags-area wow fadeInUp">
              <div class="sidebar-bar-title">
                <h3>Popular Tags</h3>
              </div>
              <div class="tag">
                <ul>
                  <li><a href="#">Boys</a></li>
                  <li><a href="#">Camera</a></li>
                  <li><a href="#">good</a></li>
                  <li><a href="#">Computers</a></li>
                  <li><a href="#">Phone</a></li>
                  <li><a href="#">clothes</a></li>
                  <li><a href="#">girl</a></li>
                  <li><a href="#">shoes</a></li>
                  <li><a href="#">women</a></li>
                  <li><a href="#">accessoties</a></li>
                  <li><a href="#">View All Tags</a></li>
                </ul>
              </div>
            </div>

            <!-- ./tags -->
            <!-- Banner -->
            <div class="single-img-add sidebar-add-slider wow fadeInUp">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active"> <img src="/images/add-slide1.jpg" alt="slide1">
                    <div class="carousel-caption">
                      <h3><a href="single_product.html" title=" Sample Product">Sale Up to 50% off</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      <a href="#" class="info">shopping Now</a>
                    </div>
                  </div>
                  <div class="item"> <img src="/images/add-slide2.jpg" alt="slide2">
                    <div class="carousel-caption">
                      <h3><a href="single_product.html" title=" Sample Product">Smartwatch Collection</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      <a href="#" class="info">All Collection</a>
                    </div>
                  </div>
                  <div class="item"> <img src="/images/add-slide3.jpg" alt="slide3">
                    <div class="carousel-caption">
                      <h3><a href="single_product.html" title=" Sample Product">Summer Sale</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span
                    class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span
                    class="sr-only">Previous</span> </a> <a class="right carousel-control"
                  href="#carousel-example-generic" role="button" data-slide="next"> <span
                    class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span
                    class="sr-only">Next</span> </a>
              </div>
            </div>
            <!-- ./Banner -->
          </aside>
          <!-- ./right colunm -->
        </div>
      </div>
    </section>
    <!-- Main Container End -->



<!-- Related Product Slider -->
<section class="upsell-product-area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="page-header">
          <h2>Sản phẩm liên quan</h2>
        </div>
        <div class="slider-items-products">
          <div id="upsell-product-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4">
                {{#each this.relevantPro}}
          
                 <div class="product-item">
                  <div class="item-inner">
                    <div class="product-thumbnail">
                      {{#if is_new}}
                      <div class="icon-hot-label hot-right">NEW</div>
                      {{/if}}
                      <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="/products/{{id}}">
                          <figure> <img class="first-img" src="/images/products-images/{{image}}" alt="html template">
                            <img class="hover-img" src="/images/products-images/{{image}}" alt="html template"></figure>
                        </a>

                      </div>
                      <div class="jtv-box-timer">
                        <div class="countbox_1 jtv-timer-grid count_{{id}}" value="count_{{id}}" timerun="{{f_expired_at}}" style="margin-bottom: 50px;">
                          <div class="day box-time-date"><span class="time-num time-day">00</span>Days</div>
                          <div class="hour box-time-date"><span class="time-num">00</span>Hrs</div>
                          <div class="min box-time-date"><span class="time-num">00</span>Mins</div>
                          <div class="sec box-time-date"><span class="time-num">00</span>Secs</div>
                        </div>
                      </div>
                      <div class="pr-info-area">
                        <div class="pr-button">
                          <div class="mt-button add_to_compare" style="visibility: hidden;"> <a href="compare.html"> <i class="fa fa-signal"></i>
                            </a> </div>
                          <div class="mt-button add_to_wishlist wish_{{id}}" data-id="{{id}}"> <a href="javascript:;"> <i class="fa fa-heart"></i>
                            </a> </div>
                          
                        </div>
                      </div>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title">
                          <a title="Ipsums Dolors Untra" href="/products/{{id}}"> {{p_name}} </a> </div>
                        <div class="item-content">

                          <div class="item-price">
                            <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span
                                  class="price">{{format current_bid}} đ</span>
                              </span> </div>
                          </div>
                        </div>
                        <div class="item-brief" style="text-align: left;">
                          <label>MBidder: </label>
                          <span>{{bidder_name}}</span>
                          {{#if purchase_bid}}
                          <br>
                          <label>Mua ngay: </label>
                          <span class="price">{{purchase_bid}} đ</span>
                          {{/if}}
                          <br>
                          <label>Số lượt ra giá: &nbsp; </label><span style="font-weight: bold;">{{bid_count}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            {{/each}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Related Product Slider End -->