{{#section 'css'}}
<style>
  .rounded {
    height: 80px;
    width: 80px;
    border-style: dotted;
  }

  .my-price,
  .bidder-name,
  .seller-name {
    display: flex;
    justify-content: space-between !important;

  }

  .quick-price .price {
    color: #777777 !important;
    font-size: 17px !important;
    font-weight: normal;
    margin-left: 6px;
  }

  .quick-price {
    margin-top: 4px;
  }

  .bidder-name,
  .seller-name,
  .time-left {
    font-size: 15px;
    padding-top: 12px;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 15px
  }

  .created-day {
    font-size: 15px;
    margin-bottom: 15px
  }

  .product-cart-option {
    border-top: 1px solid #e5e5e5;
    display: inline-block;
  }

  .wishlist-group {
    padding-top: 10px !important;
  }

  .bidder-name h2,
  .seller-name h2,
  .created-day h2 {
    font-size: 15px;
    text-transform: uppercase;
    color: #333e48;
    margin-bottom: 5px;
    font-weight: bold
  }

  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #customers tr:hover {
    background-color: #ddd;
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
</style>
{{/section}}

{{#section 'js'}}

<!-- flexslider js -->
<script type="text/javascript" src="/js/jquery.flexslider.js"></script>
<!--cloud-zoom js -->
<script type="text/javascript" src="/js/cloud-zoom.js"></script>

<script>
  function plusBid() {
    var result = document.getElementById('qty');
    var qty = parseInt(result.value);
    if (!isNaN(qty)) {
      result.value = qty + 100000;
    }
    return false;
  }

  function minusBid() {
    var result = document.getElementById('qty');
    var qty = parseInt(result.value);
    if (!isNaN(qty) && qty > 0)
      result.value = qty - 100000;
    return false;
  }

  function bidValidate() {

    var myAcc = $('.my-acc').text();
    if (myAcc === 'My Account') {
      window.location = "../../account/login";
    }
    else {
      if ($('.product-name').attr('data-pro-status') != 1) {
        alert("Sản phẩm đã hết phiên đấu giá");
        return false;
      }
      if ($('.fa-user').attr('data-id') == $('.bidder-user').attr('data-id')) {
        alert("Bạn đang là người giữ giá cao nhất");
        return false;
      }
      else {
        if ($('.fa-user').attr('data-id') == $('.seller-user').attr('data-id')) {
          alert("Bạn không được ra giá giá cho sản phẩm của mình");
          return false
        }
        else {
          var a = parseInt($('#current_bid').attr('value'));// giá cao nhât hiện tại
          var b = parseInt($('#qty').val()); //giá mà người dùng bid
          if (b <= a || b % 100000 != 0) {
            alert('Giá đấu phải lớn hơn giá hiện tại và là bội số của 100k');
            return false;
          }
        }
      }
    }
    return true;
  }

  function formatNumber(num) {
    return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
  }
</script>

{{/section}}

<!-- Main Container -->
    <section class="blog_post">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <div class="entry-detail">
              <div class="page-title">
                <h1>{{this.document.name}}
                </h1>
              </div>
              <div class="entry-photo">
                <figure><img src="https://mielts.s3.ap-southeast-1.amazonaws.com/{{this.document.image}}" alt="Blog"></figure>
              </div>
              <div class="entry-meta-data"> <span class="author"> <i class="fa fa-user"></i>&nbsp; by: <a
                    href="#">Admin</a></span> 
                  <span class="fa fa-eye" style="padding-top: 4px; "> </span>{{this.document.views}} &nbsp;&nbsp;
                  
                  <span class="comment-count"> <i
                    class="fa fa-comment"></i>&nbsp; {{this.document.views}} </span> <span class="date"><i
                    class="fa fa-calendar">&nbsp;</i>&nbsp; {{this.document.created_at}} </span>
                <div class="rating"> Thêm vào danh sách <i class="fa fa-heart fa-lg" aria-hidden="true"></i></div>
              </div>
              <div class="content-text clearfix">
                
             {{{this.document.content}}}
             
              </div>


              
            </div>
            <!-- Related Posts -->
            <div class="single-box">
              <h2>Related Posts</h2>
              <div class="slider-items-products">
                <div id="related-posts" class="product-flexslider hidden-buttons">
                  <div class="slider-items slider-width-col4 fadeInUp">
                    <div class="product-item">
                      <article class="entry">
                        <div class="entry-thumb image-hover2"> <a href="#"> <img src="/images/blog-img2.jpg" alt="Blog">
                          </a> </div>
                        <div class="entry-info">
                          <h3 class="entry-title"><a href="#">Qui ut ceteros comprehensam</a></h3>
                          <div class="entry-meta-data"> <span class="comment-count"> <i
                                class="fa fa-comment-o">&nbsp;</i> 1 </span> <span class="date"> <i
                                class="fa fa-calendar">&nbsp;</i> 2015-12-05 </span> </div>
                          <div class="entry-more"> <a href="#">Read more</a> </div>
                        </div>
                      </article>
                    </div>
                    <div class="product-item">
                      <article class="entry">
                        <div class="entry-thumb image-hover2"> <a href="#"> <img src="/images/blog-img3.jpg" alt="Blog">
                          </a> </div>
                        <div class="entry-info">
                          <h3 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h3>
                          <div class="entry-meta-data"> <span class="comment-count"> <i
                                class="fa fa-comment-o">&nbsp;</i> 5 </span> <span class="date"> <i
                                class="fa fa-calendar">&nbsp;</i> 2015-12-15 </span> </div>
                          <div class="entry-more"> <a href="#">Read more</a> </div>
                        </div>
                      </article>
                    </div>
                    <div class="product-item">
                      <article class="entry">
                        <div class="entry-thumb image-hover2"> <a href="#"> <img src="/images/blog-img4.jpg" alt="Blog">
                          </a> </div>
                        <div class="entry-info">
                          <h3 class="entry-title"><a href="#">Lorem ipsum dolor</a></h3>
                          <div class="entry-meta-data"> <span class="comment-count"> <i
                                class="fa fa-comment-o">&nbsp;</i> 6 </span> <span class="date"> <i
                                class="fa fa-calendar">&nbsp;</i> 2015-12-11 </span> </div>
                          <div class="entry-more"> <a href="#">Read more</a> </div>
                        </div>
                      </article>
                    </div>
                    <div class="product-item">
                      <article class="entry">
                        <div class="entry-thumb image-hover2"> <a href="#"> <img src="/images/blog-img5.jpg" alt="Blog">
                          </a> </div>
                        <div class="entry-info">
                          <h3 class="entry-title"><a href="#">Sed ut perspiciatis</a></h3>
                          <div class="entry-meta-data"> <span class="comment-count"> <i
                                class="fa fa-comment-o">&nbsp;</i> 10 </span> <span class="date"> <i
                                class="fa fa-calendar">&nbsp;</i> 2016-01-05 </span> </div>
                          <div class="entry-more"> <a href="#">Read more</a> </div>
                        </div>
                      </article>
                    </div>
                    <div class="product-item">
                      <article class="entry">
                        <div class="entry-thumb image-hover2"> <a href="#"> <img src="/images/blog-img6.jpg" alt="Blog">
                          </a> </div>
                        <div class="entry-info">
                          <h3 class="entry-title"><a href="#">Iste natus error</a></h3>
                          <div class="entry-meta-data"> <span class="comment-count"> <i
                                class="fa fa-comment-o">&nbsp;</i> 0 </span> <span class="date"> <i
                                class="fa fa-calendar">&nbsp;</i> 2015-12-25 </span> </div>
                          <div class="entry-more"> <a href="#">Read more</a> </div>
                        </div>
                      </article>
                    </div>
                    <div class="product-item">
                      <article class="entry">
                        <div class="entry-thumb image-hover2"> <a href="#"> <img src="/images/blog-img7.jpg" alt="Blog">
                          </a> </div>
                        <div class="entry-info">
                          <h3 class="entry-title"><a href="#">omnis iste natus</a></h3>
                          <div class="entry-meta-data"> <span class="comment-count"> <i
                                class="fa fa-comment-o">&nbsp;</i> 8 </span> <span class="date"> <i
                                class="fa fa-calendar">&nbsp;</i> 2016-01-09 </span> </div>
                          <div class="entry-more"> <a href="#">Read more</a> </div>
                        </div>
                      </article>
                    </div>
                    <div class="product-item">
                      <article class="entry">
                        <div class="entry-thumb image-hover2"> <a href="#"> <img src="/images/blog-img1.jpg" alt="Blog">
                          </a> </div>
                        <div class="entry-info">
                          <h3 class="entry-title"><a href="#">unde omnis iste</a></h3>
                          <div class="entry-meta-data"> <span class="comment-count"> <i
                                class="fa fa-comment-o">&nbsp;</i> 2 </span> <span class="date"> <i
                                class="fa fa-calendar">&nbsp;</i> 2016-01-02 </span> </div>
                          <div class="entry-more"> <a href="#">Read more</a> </div>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./Related Posts -->
            
            <!-- Comment -->
            <div class="single-box">
              <h2 class="">Comments</h2>
              <div class="comment-list">
                <ul>

                  <div class="my-comment">
                  <li>
                    <div class="avartar"> <img src="/images/avatar.png" alt="Avatar"> </div>
                    <div class="comment-body">
                      <div class="comment-meta"> <span class="author"><a href="#">Admin</a></span> <span
                          class="date">2015-04-01</span> </div>
                      <div class="comment"> Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer
                        rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.
                      </div>
                      <div class="comment_like"><a href="#">Thích</a><span aria-hidden="true"> · </span>
                        <a class="respone" href="javascript:;">Phản hồi</a><span aria-hidden="true"> · </span>
                        <span><i class="fas fa-thumbs-up"></i>&nbsp; 1</span> <span aria-hidden="true"> · </span>
                      <span class="comment-count"> <a href="javascript:;"> <i class="fa fa-comment-o" aria-hidden="true">&nbsp;</i> 5 </a></span>
                    </div>
                    </div>
                  </li>
                  <li>
                    <ul class="my-sub-comment-group">

                      <li>
                        <div class="avartar"> <img src="/images/avatar.png" alt="Avatar"> </div>
                        <div class="comment-body">
                          <div class="comment-meta"> <span class="author"><a href="#">Admin</a></span> <span
                              class="date">2015-04-01</span> </div>
                          <div class="comment"> Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer
                            rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.
                          </div>
                          <div class="comment_like"><a href="#">Thích</a><span aria-hidden="true"> · </span><a class="respone" href="javascript:;">Phản hồi</a><span aria-hidden="true"> · 
                          </span><span><i class="fas fa-thumbs-up"></i>&nbsp; 1</span> 
                        </div>
                        </div>
                      </li>

                      <li class='my-sub-comment'>
                        <div class='avartar'> 
                          <img src='images/avatar.png' alt='Avatar'>
                         </div>
                         <div class='comment-body'>
                           <div class='my-comment-form'> 
                             <textarea name='message' id='message' rows='8' class='form-control'></textarea>            
                              <button class='button'>
                                <span>Post Comment</span></button>
                                <button class='button cancel'><span>Hủy</span>
                                </button> 
                              </div> 
                            </div>
                           </li>
                    </ul>
                  </li>
                </div>
                </ul>
              </div>
            </div>

            <!-- ./Comment -->
          </div>
          <!-- right colunm -->
          <aside class="right sidebar col-xs-12 col-sm-3">
            <!-- Blog category -->
            <div class="block blog-module">
              <p class="title_block">Blog Categories</p>
              <div class="block_content">
                <!-- layered -->
                <div class="layered layered-category">
                  <div class="layered-content">
                    <ul class="tree-menu">
                      <li><a href="#"><i class="fa fa-angle-right"></i>&nbsp; Images</a></li>
                      <li><i class="fa fa-angle-right"></i>&nbsp; <a href="#">Audio</a></li>
                      <li><i class="fa fa-angle-right"></i>&nbsp; <a href="#">Photos</a></li>
                      <li><i class="fa fa-angle-right"></i>&nbsp; <a href="#">Diet &amp; Fitness</a></li>
                      <li><i class="fa fa-angle-right"></i>&nbsp; <a href="#">Slider</a></li>
                    </ul>
                  </div>
                </div>
                <!-- ./layered -->
              </div>
            </div>
            <!-- ./blog category  -->
            <!-- Popular Posts -->
            <div class="block blog-module wow fadeInUp">
              <p class="title_block">Popular Posts</p>
              <div class="block_content">
                <!-- layered -->
                <div class="layered">
                  <div class="layered-content">
                    <ul class="blog-list-sidebar">
                      <li>
                        <div class="post-thumb"> <a href="#"><img src="/images/blog-img1.jpg" alt="Blog"></a> </div>
                        <div class="post-info">
                          <h5 class="entry_title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                          <div class="post-meta"> <span class="date"><i class="fa fa-calendar">&nbsp;</i>
                              2014-08-05</span> <span class="comment-count"> <i class="fa fa-comment-o">&nbsp;</i> 8
                            </span> </div>
                        </div>
                      </li>
                      <li>
                        <div class="post-thumb"> <a href="#"><img src="/images/blog-img2.jpg" alt="Blog"></a> </div>
                        <div class="post-info">
                          <h5 class="entry_title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                          <div class="post-meta"> <span class="date"><i class="fa fa-calendar">&nbsp;</i>
                              2014-08-05</span> <span class="comment-count"> <i class="fa fa-comment-o">&nbsp;</i> 5
                            </span> </div>
                        </div>
                      </li>
                      <li>
                        <div class="post-thumb"> <a href="#"><img src="/images/blog-img3.jpg" alt="Blog"></a> </div>
                        <div class="post-info">
                          <h5 class="entry_title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                          <div class="post-meta"> <span class="date"><i class="fa fa-calendar">&nbsp;</i>
                              2014-08-05</span> <span class="comment-count"> <i class="fa fa-comment-o">&nbsp;</i> 1
                            </span> </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- ./layered -->
              </div>
            </div>
            <!-- ./Popular Posts -->

            <!-- Recent Comments -->
            <div class="block blog-module wow fadeInUp">
              <p class="title_block">Recent Comments</p>
              <div class="block_content">
                <!-- layered -->
                <div class="layered">
                  <div class="layered-content">
                    <ul class="recent-comment-list">
                      <li>
                        <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                        <div class="comment"> "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..." </div>
                        <div class="author">Posted by <a href="#">Admin</a></div>
                      </li>
                      <li>
                        <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                        <div class="comment"> "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..." </div>
                        <div class="author">Posted by <a href="#">Admin</a></div>
                      </li>
                      <li>
                        <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                        <div class="comment"> "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..." </div>
                        <div class="author">Posted by <a href="#">Admin</a></div>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- ./layered -->
              </div>
            </div>
            <!-- ./Recent Comments -->
            <!-- tags -->
            <div class="popular-tags-area wow fadeInUp">
              <div class="sidebar-bar-title">
                <h3>Popular Tags</h3>
              </div>
              <div class="tag">
                <ul>
                  <li><a href="#">Boys</a></li>
                  <li><a href="#">Camera</a></li>
                  <li><a href="#">good</a></li>
                  <li><a href="#">Computers</a></li>
                  <li><a href="#">Phone</a></li>
                  <li><a href="#">clothes</a></li>
                  <li><a href="#">girl</a></li>
                  <li><a href="#">shoes</a></li>
                  <li><a href="#">women</a></li>
                  <li><a href="#">accessoties</a></li>
                  <li><a href="#">View All Tags</a></li>
                </ul>
              </div>
            </div>

            <!-- ./tags -->
            <!-- Banner -->
            <div class="single-img-add sidebar-add-slider wow fadeInUp">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active"> <img src="/images/add-slide1.jpg" alt="slide1">
                    <div class="carousel-caption">
                      <h3><a href="single_product.html" title=" Sample Product">Sale Up to 50% off</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      <a href="#" class="info">shopping Now</a>
                    </div>
                  </div>
                  <div class="item"> <img src="/images/add-slide2.jpg" alt="slide2">
                    <div class="carousel-caption">
                      <h3><a href="single_product.html" title=" Sample Product">Smartwatch Collection</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      <a href="#" class="info">All Collection</a>
                    </div>
                  </div>
                  <div class="item"> <img src="/images/add-slide3.jpg" alt="slide3">
                    <div class="carousel-caption">
                      <h3><a href="single_product.html" title=" Sample Product">Summer Sale</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span
                    class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span
                    class="sr-only">Previous</span> </a> <a class="right carousel-control"
                  href="#carousel-example-generic" role="button" data-slide="next"> <span
                    class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span
                    class="sr-only">Next</span> </a>
              </div>
            </div>
            <!-- ./Banner -->
          </aside>
          <!-- ./right colunm -->
        </div>
      </div>
    </section>
    <!-- Main Container End -->



<!-- Related Product Slider -->
<section class="upsell-product-area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="page-header">
          <h2>Sản phẩm liên quan</h2>
        </div>
        <div class="slider-items-products">
          <div id="upsell-product-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4">
                {{#each this.relevantPro}}
          
                 <div class="product-item">
                  <div class="item-inner">
                    <div class="product-thumbnail">
                      {{#if is_new}}
                      <div class="icon-hot-label hot-right">NEW</div>
                      {{/if}}
                      <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="/products/{{id}}">
                          <figure> <img class="first-img" src="/images/products-images/{{image}}" alt="html template">
                            <img class="hover-img" src="/images/products-images/{{image}}" alt="html template"></figure>
                        </a>

                      </div>
                      <div class="jtv-box-timer">
                        <div class="countbox_1 jtv-timer-grid count_{{id}}" value="count_{{id}}" timerun="{{f_expired_at}}" style="margin-bottom: 50px;">
                          <div class="day box-time-date"><span class="time-num time-day">00</span>Days</div>
                          <div class="hour box-time-date"><span class="time-num">00</span>Hrs</div>
                          <div class="min box-time-date"><span class="time-num">00</span>Mins</div>
                          <div class="sec box-time-date"><span class="time-num">00</span>Secs</div>
                        </div>
                      </div>
                      <div class="pr-info-area">
                        <div class="pr-button">
                          <div class="mt-button add_to_compare" style="visibility: hidden;"> <a href="compare.html"> <i class="fa fa-signal"></i>
                            </a> </div>
                          <div class="mt-button add_to_wishlist wish_{{id}}" data-id="{{id}}"> <a href="javascript:;"> <i class="fa fa-heart"></i>
                            </a> </div>
                          
                        </div>
                      </div>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title">
                          <a title="Ipsums Dolors Untra" href="/products/{{id}}"> {{p_name}} </a> </div>
                        <div class="item-content">

                          <div class="item-price">
                            <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span
                                  class="price">{{format current_bid}} đ</span>
                              </span> </div>
                          </div>
                        </div>
                        <div class="item-brief" style="text-align: left;">
                          <label>MBidder: </label>
                          <span>{{bidder_name}}</span>
                          {{#if purchase_bid}}
                          <br>
                          <label>Mua ngay: </label>
                          <span class="price">{{purchase_bid}} đ</span>
                          {{/if}}
                          <br>
                          <label>Số lượt ra giá: &nbsp; </label><span style="font-weight: bold;">{{bid_count}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            {{/each}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Related Product Slider End -->