

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from htmlmystore.justthemevalley.com/single_post.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Mar 2020 08:37:58 GMT -->

<head>
  <!-- Basic page needs -->
  <meta charset="utf-8">
  <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <![endif]-->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>MyStore premium HTML5 &amp; CSS3 template</title>
  <meta name="description"
    content="best template, template free, responsive theme, fashion store, responsive theme, responsive html theme, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template">
  <meta name="keywords"
    content="bootstrap, ecommerce, fashion, layout, responsive, responsive template, responsive template download, responsive theme, retail, shop, shopping, store, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template" />

  <!-- Mobile specific metas  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon  -->
  <link rel="shortcut icon" type="/image/x-icon" href="/favicon.ico">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700italic,700,400italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,300,200,500,600,700,800' rel='stylesheet'
    type='text/css'>

  <!-- CSS Style -->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <!-- font-awesome & simple line icons CSS -->
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" media="all">
  <link rel="stylesheet" type="text/css" href="/css/simple-line-icons.css" media="all">

  <!-- owl.carousel CSS -->
  <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="/css/owl.theme.css">
  <link rel="stylesheet" type="text/css" href="/css/owl.transitions.css">
  <!-- animate CSS  -->
  <link rel="stylesheet" type="text/css" href="/css/animate.css" media="all">

  <!-- flexslider CSS -->
  <link rel="stylesheet" type="text/css" href="/css/flexslider.css">

  <!-- Revolution Slider CSS -->
  <link href="/css/revolution-slider.css" rel="stylesheet">
  <!-- jquery-ui.min CSS  -->
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">



  <!-- blog CSS -->
  <link rel="stylesheet" type="text/css" href="/css/blog.css" media="all">

  <!-- style CSS -->
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="all">

  <script src="https://kit.fontawesome.com/166a70ea35.js" crossorigin="anonymous"></script>
</head>
<style>
  .rounded {
    height: 80px;
    width: 80px;
    border-style: dotted;
  }


  .created-day {
    font-size: 15px;
    margin-bottom: 15px
  }

  .product-cart-option {
    border-top: 1px solid #e5e5e5;
    display: inline-block;
  }

  .wishlist-group {
    padding-top: 10px !important;
  }


  .noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .multiplechoice {
    background-color: rgb(250, 179, 179);
    border-radius: 5px;
    padding-left: 5px;
  }
</style>

<body class="single_post_page">


  <div id="page">


    <!-- Main Container -->
<div class="main-container col1-layout">
  <div class="container">
    <div class="row">
      <div class="col-main">

      </div>
      <div class="product-overview-tab">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="product-tab-inner">
                <ul id="product-detail-tab" class="nav nav-tabs product-tabs" style="  display: flex;">
                  <div hidden class="timeLeft" content="{{timeLeft}}"></div>
                  <input type="hidden" name="timeStart" value="{{timeStart}}" id="timeStart">
                  <li class="active"> <a href="#description" data-toggle="tab"> Bài làm</a>
                  </li>

                  <li><button type="button" class="btn btn-primary"
                      onclick="window.open('/user/mocktest/key/{{this.mocktest._id}}');">Bài giải
                      chi tiết</button></li>

                </ul>

                <div id="productTabContent" class="tab-content">
                  <div class="tab-pane fade in active" id="description">
                    <div class="std noselect" style="margin-left: 30px;">


                      <div id="tab-a6bfee399f4791567a15c5309524f5ac" class="tab-content current">


                        <!--End-->
                        <ul class="questions col-md-12 col-sm-12 col-xs-12">
                          <li class="row">

                            <div class="col-sm-3">
                              <select class="input form-control audiolinks" name="audiolinks">
                                <option selected="true" disabled="disabled">Chọn </option>
                                {{#each this.mocktest.audioLinks}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                              </select>
                            </div>
                            <div class="col-sm-3 ">

                              <audio id="audio" controls="controls">
                                <source id="audioSource" src="">
                                </source>
                                Your browser does not support the audio format.
                              </audio>
                            </div>
                            <div class="col-sm-6">
                              <div style="padding-left: 50px;">
                                <h3>Điểm số của bạn là: {{this.mocktest.percentGrade}} %</h3>
                                
                            </div>

                          </li>
                          <h3><span>Questions</span></h3>
                          <form method="POST" name="frmAddProduct" novalidate>
                            <div class="col-sm-3 answer-area" height="500" style=" height: 500px;
                                                                        overflow: scroll;">
                              {{!-- 40 CÂU TRẢ LỜI --}}

                              {{#each mocktest.answerKeys}}
                              <h5>{{this.number}}</h5>

                              {{#if this.keyABC}}

                              {{#if this.single}}

                              {{#unless this.isRight}}
                              <div class="multiplechoice">
                                {{#each this.keyABC}}
                                {{#if this.chose}}
                                <input type="radio" name="answerKeys_{{../number}}"
                                  id="name{{../number}}_{{this.alpha}}" value="{{this.alpha}}" checked>
                                {{else}}
                                <input type="radio" name="answerKeys_{{../number}}"
                                  id="name{{../number}}_{{this.alpha}}" value="{{this.alpha}}" disabled>
                                {{/if}}
                                <label for="name{{../number}}_{{this.alpha}}">{{this.alpha}} {{this.detail}} </label>
                                {{/each}}

                              </div>
                              <span style="color: red; font-weight: bold;">Đáp án: {{this.realKey}}</span>

                              {{else}}

                              {{#each this.keyABC}}
                              {{#if this.chose}}
                              <input type="radio" name="answerKeys_{{../number}}" id="name{{../number}}_{{this.alpha}}"
                                value="{{this.alpha}}" checked>
                              {{else}}
                              <input type="radio" name="answerKeys_{{../number}}" id="name{{../number}}_{{this.alpha}}"
                                value="{{this.alpha}}" disabled>
                              {{/if}}
                              <label for="name{{../number}}_{{this.alpha}}">{{this.alpha}} {{this.detail}} </label>
                              {{/each}}
                              {{/unless}}

                              {{!-- CHƯA LÀM CÁI NHIỀU SỰ LỰA CHỌN --}}
                              {{else}}

                              {{#unless this.isRight}}
                              <div class="flex-container multiplechoice">
                                {{#each this.keyABC}}
                                {{#if this.chose}}
                                <input type="checkbox" name="answerKeys_{{../number}}" id="track" value="{{this.alpha}}"
                                  checked />
                                {{else}}
                                <input type="checkbox" name="answerKeys_{{../number}}" id="track" value="{{this.alpha}}"
                                  disabled />
                                {{/if}}
                                <label for="track">{{this.alpha}} {{this.detail}}</label>
                                {{/each}}

                              </div>
                              <span style="color: red; font-weight: bold;">Đáp án: {{this.realKey}}</span>

                              {{else}}
                              <div class="flex-container">
                                {{#each this.keyABC}}
                                {{#if this.chose}}
                                <input type="checkbox" name="answerKeys_{{../number}}" id="track" value="{{this.alpha}}"
                                  checked />
                                {{else}}
                                <input type="checkbox" name="answerKeys_{{../number}}" id="track" value="{{this.alpha}}"
                                  disabled />
                                {{/if}}
                                <label for="track">{{this.alpha}} {{this.detail}}</label>
                                {{/each}}
                              </div>
                              {{/unless}}

                              {{/if}}
                              {{!-- CHƯA LÀM CÁI NHIỀU SỰ LỰA CHỌN --}}

                              {{else}}

                              {{#if this.isRight}}
                              <input type='text' class='input form-control my-form' value="{{this.key}}"
                                name='answerKeys_{{this.number}}' disabled>
                              {{else}}

                              <input type='text' class='input form-control my-form'
                                style="background-color: rgb(247, 187, 187);" value="{{this.key}}"
                                name='answerKeys_{{this.number}}' disabled>

                              <span style="color: red; font-weight: bold;"> {{this.realKey}}</span>
                              {{/if}}

                              {{/if}}

                              {{/each}}


                          </form>
                      </div>

                      <div class="col-sm-9">
                        <iframe src="https://mielts.s3.ap-southeast-1.amazonaws.com/{{this.mocktest.questionLink}}" height="500" width="100%"></iframe>
                      </div>

                      </ul>
                      <!--End-->
                    </div>
                  </div>
                </div>



              </div>
                   <button type="button" class="btn btn-warning" style="margin-top: 10px;"
                   onclick="window.location = '/user/mocktest';">
                  <i class="fa fa-check" aria-hidden="true"></i>Trở về
                </button>
                

           
                <button type="button" class="btn btn-danger" style="margin-top: 10px;"
                 onclick="close_window();return false;">Thoát</button>
            </div>
          </div>
        </div>
      </div>
    </div>







  </div>
</div>
</div>

<!-- Main Container End -->



    <!-- Footer -->

  
    <a href="#" class="totop"> </a>
    <!-- End Footer -->
    <!--Newsletter Popup Start-->


    <!--End of Newsletter Popup-->
  </div>

  <div id="myMessage" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> message </h4>
        </div>
        <div class="modal-body">
          <p>  <i>...</i> đã thêm vào danh sách yêu thích</p>
          <p><a href="/user/wishlist"> Xem danh sách</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default reload_page_button" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>
  <!-- JS -->

  <!-- jquery js -->
  <script type="text/javascript" src="/js/jquery.min.js"></script>

  {{!-- jquery validate --}}
  <script type="text/javascript"
    src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>


  <!-- owl.carousel.min js -->
  <script type="text/javascript" src="/js/owl.carousel.min.js"></script>

  <!-- bxslider js -->
  <script type="text/javascript" src="/js/jquery.bxslider.js"></script>

  <!-- Slider Js -->
  <script type="text/javascript" src="/js/revolution-slider.js"></script>

  <!-- megamenu js -->
  <script type="text/javascript" src="/js/megamenu.js"></script>
  <script type="text/javascript">
    /* <![CDATA[ */
    var mega_menu = '0';

    /* ]]> */
  </script>

  <!-- jquery.mobile-menu js -->
  <script type="text/javascript" src="/js/mobile-menu.js"></script>

  <!--jquery-ui.min js -->
  <script type="text/javascript" src="/js/jquery-ui.js"></script>

  <!-- main js -->
  <script type="text/javascript" src="/js/main.js"></script>

  <!-- countdown js -->
  <script type="text/javascript" src="/js/countdown.js"></script>

  <script>

  jQuery(document).ready(function () {
    $('.audiolinks').change(function () {
      //console.log("lala")
      //console.log($('.audiolinks').val())
      url = "https://mielts.s3.ap-southeast-1.amazonaws.com/" + $('.audiolinks').val()
      var audio = document.getElementById('audio');
      var source = document.getElementById('audioSource');
      source.src = url
      audio.load();
    })
  });

function close_window() {
  if (confirm("Close Window?")) {
    window.close();
  }
}
</script>



  <script type="text/javascript">
    window.addEventListener("beforeunload", function (e) {
      var confirmationMessage = "\o/";
      console.log(confirmationMessage)
      (e || window.event).returnValue = confirmationMessage; //Gecko + IE
      return confirmationMessage;                            //Webkit, Safari, Chrome
    });
  </script>



</body>

<!-- Mirrored from htmlmystore.justthemevalley.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Mar 2020 08:13:18 GMT -->

</html>